.ProductComponent {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-right: 5px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.ProductComponent * {
  width: 60px;
}

.ProductComponent .Price {
  min-width: 50px;
}

.ProductComponent .Url {
  min-width: 270px;
  word-wrap: break-word;
}

.ProductComponent .Quantity {
  min-width: 70px;
  text-align: center;
}

.ProductComponent .Title {
  min-width: 200px;
  text-decoration: none;
  color: #326fbb;
}
